ul{display:flex;
    justify-content: space-between
;
list-style: none;}
li a{
    text-decoration: none;

}
.nav-item1 {
    font-size: 40px;
    color: black;
font-weight: bolder;}
.nav-item2{
    margin-right: 30px;
    opacity: .5;
    font-size: 18px;
}
hr{
    opacity: .6;
}